
h2 {
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: black;
    font-weight: 600;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.word {
    font-size: 1.3rem;
    
}
.word1 a{
    color: black;
    font-size: 1.2rem;
}
.word1 a:hover{
    text-decoration: none;
    color: black;
}
.word1 {
    color: black;
    font-size: 1.2rem;
}

#p1 {

  background: sandybrown;
    height: 60px;
    padding: 15px;
text-decoration: none;
    font-size: 1.3rem;
  
}

  span {
    color: black;
    background: sandybrown;
}

.root {
    float:right;
    text-decoration: none;
}

ul.root>li {
    list-style: none;
    float:left;
}

ul.root>li>a {
    padding: 35px;
    position: relative;
    width: max-content;
}

ul.submenu {
    width: 250px;
    min-height: 89px;
    display: none;
    position: absolute;
    z-index: 100;

}

ul.submenu li {
    list-style: none;
    position: relative;
}


ul.submenu li a {
    text-transform: none;
    text-decoration: none;
    color: #fff;
    display: block;
    border: 1px solid #ccc;
    line-height: 40px;
    text-indent: 10px;




}

ul.root>li:hover ul.submenu {
    display: block;
    background-color: sandybrown;
    color: cornsilk;
    transform: ease-in 0.35s;

}

ul.submenu li a:hover {
    background-color: yellow;
    color: darkblue;
    transform: ease-in 0.35s;

}
.root>li>a:hover{
    text-decoration: none;
}
.root>li>a::after {
    content: "";
    height: 2.7px;
    width: 0;
    background:rgb(185, 76, 33);
    position: absolute;
    bottom: 20px;
    left: 1.9rem;
    transition: all 0.5s ease-in-out;
  

}

.root>li>a:hover::after {
    width: 50%;
    
   

}
#p8 {

    background-color: black;
    height: 90px;
    padding: 1rem;
text-align: center;
font-size: 16px;
}
#img {

    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 10px;
    font-weight: bold;
}


.word {
    font-size: 1.3rem;
}
.word1{
    font-size: 1.2rem;
}

  @media screen and (max-width:1148px){
    #p1 li {
          display: none;
        
      }
      
        
    

}


#p7 {
    border: tomato solid thick;
    padding: 1rem;
    background-color: #ff914d;
    text-align: center;
}
.top{
    position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 25px;
border: none;
outline: none;
background-color:rgb(194, 58, 34);
color: white;
cursor: pointer;
font-size: 1rem;
font-weight: 600;
border-radius: 70px;
width: 50px;
height: 50px;
}

.ct1 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: bisque;

}

.ct1 .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.ct1 .image img {
    width: 100%;
}

.ct1 .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    padding: 2rem;
}

.ct1 .content h3 {
    font-size: 1.4rem;
    color: #130f40;
}

.ct1 .content h3 span {
    color: #e67e22;
}

.ct1 .content p {
    padding: 0.2rem 0;
    font-size: 1.4rem;
    line-height: 1.5;
}



.ct2 {
    display: -webkit-box;
    display: -ms-flexbox;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: bisque;


}

.ct2 .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.ct2 .image img {
    width: 100%;
}

.ct2 .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    padding: 2rem;
}

.ct2 .content h3 {
    font-size: 1.4rem;
    color: #130f40;
}

.ct2 .content h3 span {
    color: #e67e22;
}

.ct2 .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.5;
}


.ct3 {

    display: flex;

    display: -webkit-box;
    display: -ms-flexbox;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;


}
.ct3 .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
    margin-right: 3rem;
    margin-left: 3rem;
}


.ct3 .image img {
    width: 100%;
}

.ct4 .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    padding: 2rem;
}

.ct33 .content h3 {
    font-size: 1.4rem;
    color: #130f40;
}

.ct3 .content h3 span {
    color: #e67e22;
}

.ct3 .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
}

.ct4 {
    display: flex;

    display: -webkit-box;
    display: -ms-flexbox;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;


}

.ct4 .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.ct4 .image img {
    width: 100%;
}

.ct4 .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    padding: 2rem;
}

.ct4 .content h3 {
    font-size: 1.4rem;
    color: #130f40;
}

.ct4 .content h3 span {
    color: #e67e22;
}

.ct4 .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
}